

.board-element{
  height: 2em;
  width: 2em;
  text-align: center;
}

.masked-tile {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: 0px none transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

div.board-container {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

div.centered-page {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.alert {
    text-align: center;
}