{% extends "index.html" %}

<!--Could this whole page be rendered unnecessary by some kind of if statement in the new_game page? i.e. some way for
it to know that you just lost a game and you're not starting a new one from scratch. I think we might have talked about
this a little before, and you said it would require JavaScript. Is having a whole new page for this the most
efficient way to do it for now?-->

{% block body %}
<div class="centered-page">
<h1>You Lose! Start A New Game?</h1>
<form action="" method="post" name="game_over_form">
    {{form.hidden_tag()}}
    <p>
        Number of Rows:<br>
        {{form.rows(size=5)}}<br>
    </p>
    <p>
        Number of Columns:<br>
        {{form.columns(size=5)}}<br>
    </p>
    <p>
        Number of Mines:<br>
        {{form.mines(size=5)}}<br>
    </p>
    <p><input type="submit" value="Start New Game"></p>
</form>
</div>
{% endblock %}